#heading {
   margin: 20px 0 30px;
}
#head1 {
   font-size: 1.5em;
}
.navbar-nav > li:hover {
   color: #fff;
   background-color: rgb(240, 235, 235);
}
.navbar-nav {
   background-color: #d6d6d6;
}
@media (min-width: 768px) {
   .navbar-nav{
      display: none;
   }
}